dataclasses==0.8
numpy==1.19.5
opencv-python==4.5.4.60
pandas==1.1.5
python-dateutil==2.8.2
pytz==2021.3
scipy==1.5.4
six==1.16.0
torch==1.10.0
typing-extensions==4.0.1
-e git+https://github.com/KaiyangZhou/deep-person-reid.git@6987d99074fcc63146660b83b38218c37b4412b3#egg=torchreid